
body{
  background-color: black;
}

canvas{
  background-color: aliceblue;
  background-image: url(images/NYC-Background.png); 
        border: 1px solid black;
        background-size: cover;  
        background-repeat: no-repeat;
        background-position: center;
        height: 96.3vh;
        width: 99vw;
}

#victoryScreen{
  display: none;
  background-color: aliceblue;
  background-image: url(images/Victory-Screen.png);
        border: 1px solid black;
        background-size: contain;  
        background-repeat: no-repeat;
        background-position: center;
        height: 96.3vh;
        width: 99vw;
}

html {
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.box{
  position: absolute;
  background: rgb(197, 176, 145);
  width: 33vw;
  height: 69vh;
  margin: 3vh auto;
  top: 11.5vh;
  left: 34vw;
  border-radius: 2vw;
}

.buttons{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5vh;
  left: 12vw;
  gap: 3.5vh;
  img{
     height: 16vh;
  }
}

#menu{
  position: absolute;
  display:none;
  bottom: 6vh;  
  left: 35vw;
}

#musiccontainer {
  width: 100%;
  position: absolute;
  bottom: 55vh;
  left: 3vw;
}

#sfxcontainer {
  width: 100%;
  position: absolute;
  bottom: 50vh;
  left: 3vw;
}

#music_slider {
  width: 60%; 
  height: 1vh; 
}

#sfx_slider {
  width: 60%; 
  height: 1vh; 
}

#controls {
  position: absolute;
  bottom: 5vh;
  img {
    height: 50vh;
  }
}

#back {
  position: absolute;
  bottom: 10vh;
  left: 2vw;
  display:none;
  background-color: transparent;
  border: none;
  img {
    height: 10vh;
  }
}

#backGame {
  
  position:absolute;
  display:none;
  background-color: transparent;
  border: none;
  top: 2vh;
  img {
    height: 10vh;
  }
}