
body{
  background-color: black;
}
canvas{
  background-color: aliceblue;
  background-image: url(images/NYC-Background.png); 
        border: 1px solid black;
        background-size: cover;  
        background-repeat: no-repeat;
        background-position: center;
        height: 96.3vh;
        width: 99vw;
}
.box{
  position: absolute;
  background: rgb(197, 176, 145);
  width: 33vw;
  height: 69vh;
  margin: 3vh auto;
  top: 11.5vh;
  left: 34vw;
  border-radius: 2vw;
}

.buttons{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5vh;
  left: 12vw;
  gap: 3.5vh;
  img{
     height: 16vh;
  }
}

#menu{
  position: absolute;
  display:none;
  bottom: 6vh;  
  left: 35vw;
}

.audiocontainer {
  width: 100%;
  position: absolute;
  bottom: 57vh;
  left: 2vw;
}

.slider {
  width: 60%; 
  height: 1vh; 
}

#back{
  display:none;
}

#backGame{
  
  position:absolute;
  display:none;
  top: 5vh;
}