canvas{
        border: 1px solid black;
}
.box{
  position: absolute;
  background: rgb(197, 176, 145);
  width: 450px;
  height: 400px;
  margin: 50px auto;
  top: 200px;
  left: 500px;
  border-radius: 20px;
}

.buttons{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30px;
  left: 160px;
  gap: 20px;
  img{
     height: 95px;
  }
}

#menu{
  position: absolute;
  display:none;
  top: 10px;
  left: 510px;
}

#back{
  display:none;
}

#backGame{
  position:absolute;
  display:none;
  top: 30px;
}


